<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test-Suite">
    <test verbose="2" preserve-order="true" name="SearchAllUsers">
        <classes>
            <class name="org.amit.tests.testcases.SeachUsersTest">
            </class>
        </classes>
    </test>
</suite>